<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cahue.iweco">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:name=".ParkifyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CahueTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyC0-fkwiFWR306wYJsp7qd13VPMkHzsIco"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

        <activity
            android:name=".MapsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/CahueTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".activityrecognition.ActivityRecognitionService$InVehicleReceiver"
            android:exported="true" />

        <receiver
            android:name=".locationservices.CarMovedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.CAR_MOVED_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".locationservices.ParkedCarReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.PARKED_CAR_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".locationservices.GeofenceCarReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.GEOFENCE_ACTIVATED_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".locationservices.PossibleParkedCarReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.POSSIBLE_PARKED_CAR_ACTION" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".login.LoginActivity"
            android:label="@string/common_signin_button_text"
            android:screenOrientation="portrait"
            android:theme="@style/CahueTheme.Dark.Login"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CahueTheme.Dark.TranslucentBars.Tutorial" />

        <activity
            android:name=".cars.CarManagerActivity"
            android:parentActivityName=".MapsActivity"
            android:theme="@style/CahueTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MapsActivity"
            android:theme="@style/CahueTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapsActivity" />
        </activity>

        <provider
            android:name=".cars.database.CarsProvider"
            android:authorities="com.cahue.iweco.cars"
            android:exported="true"
            android:syncable="true" />

        <service android:name=".auth.ParkifyAccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service android:name=".activityrecognition.ActivityRecognitionService" />

        <service
            android:name=".activityrecognition.DetectedActivitiesIntentService"
            android:exported="false" />
        <service android:name=".locationservices.GeofenceTransitionsIntentService" />

        <receiver android:name=".activityrecognition.SaveCarRequestReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="${applicationId}.INTENT_SAVE_CAR_REQUEST.0" />
                <action android:name="${applicationId}.INTENT_SAVE_CAR_REQUEST.1" />
                <action android:name="${applicationId}.INTENT_SAVE_CAR_REQUEST.2" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".activityrecognition.ActivityRecognitionService$StopActivityRecognitionBroadcastReceiver"
            android:enabled="true" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <receiver android:name=".util.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".util.LocationTestBroadcastReceiver">
            <intent-filter>
                <action android:name="${applicationId}.BT_TEST" />
            </intent-filter>
        </receiver>

        <receiver android:name=".util.BluetoothDetector">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
                <!--<action android:name="android.bluetooth.device.action.ACL_CONNECTED" />-->
                <!--<action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />-->
            </intent-filter>
        </receiver>


        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".locationservices.DelayedGeofenceJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
